<section class="wrapper login-register login-sidebar">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal">
        <a href=""></a>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" />
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
